[Unit]
Description=Ceph Monitor
After=docker.service

[Service]
EnvironmentFile=-/etc/environment
Environment=MON_IP=${COREOS_PUBLIC_IPV4}
Environment=MON_NAME=%H
ExecStartPre=/bin/mkdir -p /etc/ceph /var/lib/ceph
ExecStartPre=/usr/bin/docker run --rm -v /opt/bin:/opt/bin ibuildthecloud/systemd-docker
ExecStart=/opt/bin/systemd-docker --env run --rm --name %p --net=host -p 6789:6789 -v /var/lib/ceph:/var/lib/ceph -v /etc/ceph:/etc/ceph ceph/mon
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
