[Unit]
Description=Ceph OSD
After=docker.service
RequiresMountsFor=/var/lib/ceph/osd/ceph-%i

[Service]
EnvironmentFile=-/etc/environment
Environment=OSD_ID=%i
Environment=HOSTNAME=%H
ExecStartPre=/bin/mkdir -p /etc/ceph /var/lib/ceph
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --rm --name %p --net=host -privileged \
   -e OSD_IP=${OSD_IP} \
   -e HOSTNAME=${HOSTNAME} \
   -v /etc/ceph:/etc/ceph \
   -v /dev:/dev \
   -v /var/lib/ceph/osd/ceph-%i:/var/lib/ceph/osd/ceph-%i \
   ceph/mon
ExecStopPost=-/usr/bin/docker stop %p
ExecStopPost=-/usr/bin/docker rm %p
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
