backports.ssl-match-hostname==3.5.0.1
contextlib2==0.5.4
docker-py==1.10.3
docker-pycreds==0.2.1
extras==1.0.0
fixtures==3.0.0
funcsigs==1.0.2
ipaddress==1.0.17
linecache2==1.0.0
mock==2.0.0
pbr==1.10.0
py==1.4.31
pytest==3.0.3
python-mimeparse==1.6.0
requests==2.10.0
six==1.10.0
testresources==2.0.1
testscenarios==0.5.0
testtools==2.2.0
traceback2==1.4.0
unittest2==1.1.0
virtualenv==15.0.3
websocket-client==0.37.0
