[Unit]
Description=Mount rbd volume to host
After=docker.service

[Service]
Environment=RBD_POOL=rbd
Environment=RBD_FS=xfs
Environment=RBD_TARGET=/mnt/%i
Environment=RBD_IMAGE=%i
ExecStartPre=-/usr/bin/docker pull ceph/rbd-volume
ExecStartPre=/bin/sh -c "mkdir -p ${RBD_TARGET}"
ExecStart=/bin/sh -c "docker run --rm -v /proc:/host/proc -v /data/ceph/conf:/etc/ceph:ro --privileged --net host -v /dev:/dev ceph/rbd-volume"
ExecStartPost=/usr/bin/sleep 3
ExecStopPost=-/bin/sh -c "/usr/bin/umount ${RBD_TARGET}"
ExecStopPost=/bin/sh -c "/usr/bin/docker run --rm -v /etc/ceph:/etc/ceph:ro --privileged --net host -v /dev:/dev ceph/rbd-volume cleanup"
SuccessExitStatus=1 2 8 137
TimeoutStartSec=0
TimeoutStopSec=0

[X-Fleet]
