[Unit]
Description=Ceph OSD
After=docker.service
RequiresMountsFor=/var/lib/ceph/osd/ceph-%i

[Service]
EnvironmentFile=/etc/environment
Environment=OSD_ID=%i
Environment=HOSTNAME=%H
ExecStartPre=/usr/bin/docker run --rm -v /opt/bin:/opt/bin ibuildthecloud/systemd-docker
ExecStart=/opt/bin/systemd-docker --env run --rm --name %p-%i --net=host --privileged -v /etc/ceph:/etc/ceph -v /dev:/dev -v /var/lib/ceph/osd/ceph-%i:/var/lib/ceph/osd/ceph-%i ceph/osd
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
