[Unit]
Description=Rados Gateway Service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
Environment=RGW_NAME=%H
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --rm --name %p -p 80:80 \
   -e RGW_NAME=%H \
   -v /etc/ceph:/etc/ceph \
   -v /var/lib/ceph/rgw/%H:/var/lib/ceph/rgw/%H \
   ceph/daemon rgw
ExecStopPost=-/usr/bin/docker stop %p
ExecStopPost=-/usr/bin/docker rm %p
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[X-Fleet]
Conflicts=ceph-rgw@*.service
