---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $name }}
data:
  ceph.conf: {{ $ceph_conf_val }}
  ceph.client.admin.keyring: {{ $ceph_admin_keyring_val }}
  ceph.mon.keyring: {{ $ceph_mon_keyring_val }}

