# Created and Maintained by Confd

[global]
  fsid = {{getv "/auth/fsid"}}
{{ if exists "/auth/cephx"}}
  auth cluster required = cephx
  auth service required = cephx
  auth client required = cephx
  cephx require signatures = {{getv "/auth/cephx_require_signatures"}} # Kernel RBD does NOT support signatures!
  cephx cluster require signatures = {{getv "/auth/cephx_cluster_require_signatures"}}
  cephx service require signatures = {{getv "/auth/cephx_service_require_signatures"}}
{{else}}
  auth cluster required = none
  auth service required = none
  auth client required = none
  auth supported = none
{{end}}
{{range gets "/global/*"}}
  {{base .Key}} = {{.Value}}{{end}}

[mon]
{{range gets "/mon/*"}}
  {{base .Key}} = {{.Value}}{{end}}
{{range gets "/mon_host/*"}}
    [mon.{{base .Key}}]
      host = {{base .Key}}
      mon_addr = {{.Value}}{{end}}

[osd]
{{range gets "/osd/*"}}
  {{base .Key}} = {{.Value}}{{end}}

[client]
{{range gets "/client/*"}}
  {{base .Key}} = {{.Value}}{{end}}