[Unit]
Description=RBD Mapping Service
After=network.target
Requires=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=0
ExecStart=/opt/sbin/rbdmap start
ExecStop=/opt/sbin/rbdmap stop

[Install]
WantedBy=multi-user.target
