[Unit]
Description=Ceph Metadata Server
After=docker.service

[Service]
TimeoutSec=0
EnvironmentFile=/etc/environment
ExecStartPre=/bin/mkdir -p /etc/ceph
ExecStartPre=/usr/bin/docker pull ceph/mds
ExecStartPre=-/usr/bin/docker rm ceph-mds-%i
ExecStart=/bin/sh -c '/usr/bin/docker attach ceph-mds-%i || /usr/bin/docker start -a ceph-mds-%i || /usr/bin/docker run --rm --net=host --name ceph-mds-%i -e MDS_NAME=%i -v /etc/ceph:/etc/ceph -v /var/lib/ceph/mds:/var/lib/ceph/mds ceph/mds'
ExecStop=/usr/bin/docker stop ceph-mds-%i

[X-Fleet]
X-Conflicts=ceph-mds@*.service
